<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGBI |  home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{%static 'images/Tamil/logo.png' %}">
</head>

   
<body>
 {% include 'inc/coimbatoreheader.html'  %}

<div class="main">
  <div class="container1">
    <div class="row1">
      <h1 class="movies">TAMIL MOVIES</h1>
    </div>
    <div class="contents1">
    <div class="content1">
      <a href=""><img src="{% static 'images/Tamil/mama.jpg' %}" alt=""></a>
      <a href="">MAAMANNAN</a> 
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/tamil/2amula.jpg' %}" alt=""></a>
      <a href="">ERANDAAM ULAGAM</a>
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/Tamil/sulthan.jpg' %}" alt=""></a>
      <a href="">SULTHAN</a>
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/Tamil/teddy.jpg' %}" alt=""></a>
      <a href="">TEDDY</a>
    </div>
   </div>
   <div class="container1">
    <div class="row1">
      <h1 class="movies">OTHER LANGUAGE MOVIES</h1>
    </div>
    <div class="contents1">
    <div class="content1">
      <a href=""><img src="{% static 'images/malayalam/kaduva.jpg' %}" alt=""></a>
      <a href="">KADUVA</a> 
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/malayalam/premam.jpg' %}" alt=""></a>
      <a href="">PREMAM</a>
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/kanada/vikramrona.jpg' %}" alt=""></a>
      <a href="">VIKRANT RONA</a>
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/kanada/liger.jpg' %}" alt=""></a>
      <a href="">LIGER</a>
    </div>
   </div>
   <div class="container1">
    
    <div class="contents1">
    <div class="content1">
      <a href=""><img src="{% static 'images/hindi/wwazir.jpg' %}" alt=""></a>
      <a href="">WAZIR</a> 
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/telugu/rrudrangi.jpg' %}" alt=""></a>
      <a href="">RUDRANGI</a>
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/english/titan.jpg' %}" alt=""></a>
      <a href="">TITANIC</a>
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/telugu/varudukaavalenu.jpg' %}" alt=""></a>
      <a href="">VARADU KAAVALENU</a>
    </div>
   </div>
   <div class="container1">
    <div class="row1">
      <h1 class="movies">CARTOON MOVIES</h1>
    </div>
    <div class="contents1">
    <div class="content1">
      <a href=""><img src="{% static 'images/anime/bbrave.jpg' %}" alt=""></a>
      <a href="">BRAVE</a> 
    </div>
    <div class="content1">
      <a href=""><img src="{% static 'images/anime/sshrek.jpg' %}" alt=""></a>
      <a href="">SHREK</a>
    </div>
    <div class="content1">
        <a href=""><img src="{% static 'images/kanada/adipurush.jpg' %}" alt=""></a>
        <a href="">ADIPURUSH</a>
      </div>
      
   </div>
  </div>
</div>
{% include 'inc/footer.html' %}
<script src="{% static 'js/main.js' %}"></script>
  

</body>
</html>