<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGBI |  Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{%static 'images/Tamil/logo.png' %}">
</head>

<body>
  <footer class="faster">
    <div class="fast"><h1><i class="fa-solid fa-hand-holding-hand"></i> Customer Care</h1></div>
    <div class="faster1">
      <div class="faster2">
        <h5>MOVIES IN CITIES</h5>
        <p><a href="/chennaimovies"> MOVIES IN CHENNAI |</a> <a href="/maduraimovies">MOVIES IN MADURAI | </a><a href="/kumarimovies"> MOVIES IN KANYA KUMARI | </a><a href="/thanjavurmovies"> MOVIES IN THANJAVUR | </a><a href="/tirichymovies"> MOVIES IN TIRICHY |</a> <a href="/coimbatoremovies"> MOVIES IN COIMBATORE |</a></p>
        <h5>STREAMING IN CITIES</h5>
        <p><a href="/chennaistreaming"> STREAMING IN CHENNAI |</a> <a href="/maduraistreaming">STREAMING IN MADURAI | </a><a href="/kumaristreaming"> STREAMING IN KANYA KUMARI | </a><a href="/thanjavurstreaming"> STREAMING IN THANJAVUR | </a><a href="/tirichystreaming"> STREAMING IN TIRICHY |<br></a><a href="/coimbatorestreaming"> STREAMING IN COIMBATORE |</a> </p>
        <h5>EVENTS IN CITIES</h5>
        <p><a href="/chennaievents"> EVENTS IN CHENNAI |</a> <a href="/maduraievents">EVENTS IN MADURAI | </a><a href="/kumarievents"> EVENTS IN KANYA KUMARI | </a><a href="/thanjavurevents"> EVENTS IN THANJAVUR | </a><a href="/tirichyevents"> EVENTS IN TIRICHY |</a> <a href="/coimbatoreevents"> EVENTS IN COIMBATORE |</a></p>
        <h5>SPORTS IN CITIES</h5>
        <p><a href="/chennaisports"> SPORTS IN CHENNAI |</a> <a href="/maduraisports">SPORTS IN MADURAI | </a><a href="/kumarisports"> SPORTS IN KANYA KUMARI | </a><a href="/thanjavursports"> SPORTS IN THANJAVUR | </a><a href="/tirichysports"> SPORTS IN TIRICHY |</a><a href="/coimbatoresports"> SPORTS IN COIMBATORE |</a> </p>
       
      </div>
      <div class="faster3" >
        <div class="faster4">
          <div class="faster5"> 
            <p>www.<h7>REGBI</h7>.com</p>
          </div>
          <div class="faster6">
            <p>Copyright 2023 <i class="fa-regular fa-copyright"></i> REGMI Entertainment Pvt. Ltd. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
