<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGBI |  home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{%static 'images/Tamil/logo.png' %}">
</head>

   
<body>
  {%  include 'inc/chennaiheader.html'  %}
<div class="sl">
  <div class="slider">
    <div class="slides">
      <input type="radio" class="ding" id="radio1" name="radios">
      <input type="radio" class="ding" id="radio2" name="radios">
      <input type="radio" class="ding" id="radio3" name="radios">
      <input type="radio" class="ding" id="radio4" name="radios">
      <input type="radio" class="ding" id="radio5" name="radios">
      <div class="slide first">
        <img src="{% static 'images/malayalam/hri.jpg'  %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'images/andrea.jpg'  %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'images/Tamil/maamannan.jpg'  %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'images/lucifier.jpg'  %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'images/ani.jpg'  %}" alt="">
      </div>
      <div class="auto" id="autos">
        <div class="auto1"></div>
        <div class="auto2"></div>
        <div class="auto3"></div>
        <div class="auto4"></div>
        <div class="auto5"></div>
      </div>
    </div>
    <div class="manual" id="man">
      <label for="radio1" class="manuals"></label>
      <label for="radio2" class="manuals"></label>
      <label for="radio3" class="manuals"></label>
      <label for="radio4" class="manuals"></label>
      <label for="radio5" class="manuals"></label>
    </div>
  </div>
</div>
<div class="main">
  <div class="container1">
    <div class="row1">
      <h1 class="movies">MOVIES</h1>
    </div>
    <div class="contents1">
      {% for movie in Movies %}
    <div class="content1">
      <a href="/{{movie.name}}/{{movie.Movie_name}}">
        <img src="{{ movie.image.url }}" alt=""></a>
      <a href="/{{movie.name}}/{{movie.Movie_name}}">{{movie.Movie_name}}</a>
    </div>
     {% endfor %}
   </div>
   <div class="container1">
    <div class="row1">
      <h1 class="movies">STREAMING</h1>
    </div>
    <div class="contents1">
      {% for streaming in Streamings %}
    <div class="content1">
      <a href="/streams/{{streaming.name}}/{{streaming.Streaming_name}}"><img src="{{ streaming.image.url }}" alt=""></a>
      <a href="/streams/{{streaming.name}}/{{streaming.Streaming_name}}">{{streaming.Streaming_name}}</a> 
    </div>
       {% endfor %}
   </div>
   <div class="container1">
    <div class="row1">
      <h1 class="movies">LIVE CONCERTS</h1>
    </div>
    <div class="contents1">
      {% for event in Events %}
    <div class="content1">
      <a href="/event/{{event.name}}/{{event.Event_name}}"><img src="{{event.image.url}}" alt=""></a>
      <a href="/event/{{event.name}}/{{event.Events_name}}">{{event.Event_name}}</a> 
    </div>
       {% endfor %}
   </div>
   <div class="container1">
    <div class="row1">
      <h1 class="movies">SPORTS</h1>
    </div>
    <div class="contents1">
      {% for sport in Sports %}
    <div class="content1">
      <a href="/sports/{{sport.name}}/{{sport.Sport_name}}"><img src="{{sport.image.url}}" alt=""></a>
      <a href="/sports/{{sport.name}}/{{sport.Sports_name}}">{{sport.Sport_name}}</a> 
    </div>
      {% endfor %}
   </div>
  </div>
</div>
{% include 'inc/footer.html' %}
<script src="{% static 'js/main.js' %}"></script>
  

</body>
</html>