<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGBI |  home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{%static 'images/Tamil/logo.png' %}">
</head>

   
<body>
  {% include 'inc/chennaiheader.html' %}
<div class="theatre">
  <div class="theatre-h">
    <h1>THUNIVU</h1>
  </div>
  <div class="theatre-c">
    <div class="theatre-d">
      <h2>AGS Cinema OMR- Navalur</h2>
      <p>Food and Bevarages available</p>
      <p>cancellation available and no refund</p>
    </div>
    
    <div class="time">
      <button class="bt1"><a href="/theatrechennaiags">10.00 AM</a></button>
      <button class="bt2"><a href="/theatrechennaiags">2.00 PM</a></button>
      <button class="bt3"><a href="/theatrechennaiags">6.00 PM</a></button>
      <button class="bt4"><a href="/theatrechennaiags">10.00 PM</a></button>
    </div>
  </div>
  <div class="theatre-c">
    <div class="theatre-d">
      <h2>Anna Cinemas-Mount Road</h2>
      <p>food and bevarages available</p>
      <p>cancellation available and refundable</p>
    </div>
    
    <div class="time">
      <button class="bt1"><a href="/theatrechennaianna">10.00 AM</a></button>
      <button class="bt2"><a href="/theatrechennaianna">2.00 PM</a></button>
      <button class="bt3"><a href="/theatrechennaianna">6.00 PM</a></button>
      <button class="bt4"><a href="/theatrechennaianna">10.00 PM</a></button>
    </div>
  </div>
  <div class="theatre-c">
    <div class="theatre-d">
      <h2>AGS Cinemas-T.Nagar</h2>
      <p>Food available</p>
      <p>No Cancellation</p>
    </div>
    
    <div class="time">
      <button class="bt1"><a href="/theatrechennaitnagar">10.00 AM</a></button>
      <button class="bt2"><a href="/theatrechennaitnagar">2.00 PM</a></button>
      <button class="bt3"><a href="/theatrechennaitnagar">6.00 PM</a></button>
      <button class="bt4"><a href="/theatrechennaitnagar">10.00 PM</a></button>
    </div>
  </div>
  <div class="theatre-c">
    <div class="theatre-d">
      <h2>Anandh Theatre-Vandalur</h2>
      <p>Food available</p>
      <p>No Cancellation</p>
    </div>
    
    <div class="time">
      <button class="bt1"><a href="/theatrechennaianandh">10.00 AM</a></button>
      <button class="bt2"><a href="/theatrechennaianandh">2.00 PM</a></button>
      <button class="bt3"><a href="/theatrechennaianandh">6.00 PM</a></button>
      <button class="bt4"><a href="/theatrechennaianandh">10.00 PM</a></button>
    </div>
  </div>
  
</div>
{% include 'inc/footer2.html' %}

    
<script src="{% static 'js/main.js' %}"></script>
  

</body>
</html>