<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGBI |  home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{%static 'images/Tamil/logo.png' %}">
</head>

   
<body>
  <header>
    <div class="header">
        <div class="nav">
          
          <a href="/" style="text-decoration: none;"><h1 class="heading">REGBI </h1></a>
          <div class="sear">
            <input type="text" class="search" placeholder=" Search movies, concerts, streaming here" >
            <button class="search-btn" type="button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
              <button id="sign">SIGN IN</button>
            <button id="place" onclick="show()" >CHENNAI</button>
              
              <button id="opens"><i class="fa-solid fa-bars" id="open"></i></button>
            </div>
          </div>
        </div>
       </div>
   
    <div class="menu">
      <a href="/chennaimovies" class="menubar" > MOVIES</a>
      <a href="/chennaievents" class="menubar" >CONCERTS</a>
      <a href="/chennaistreaming" class="menubar">STREAMING</a>
      <a href="/chennaisports" class="menubar" style=" color:rgb(226, 44, 44); font-size:x-large " >SPORTS</a>
      <a href="" class="menubar">HELP & SUPPORT</a>
    </div>
  <div id="loggy">
    <div id="log">
      <img src="{% static 'images/Tamil/wall.jpg' %}" alt="" class="img">
      <div class="loginpage">
        <button id="ab"><i class="fa-sharp fa-solid fa-xmark"></i></button>
        <h3>SIGN IN</h3>
        <div class="logins">
          <input type="text" placeholder="Username" class="login">
        </div>
        <div class="logins">
          <input type="text" placeholder="Password" class="login">
        </div>
        <div class="logins">
          <a href="" class="sub">Login</a>
        </div>
        <div class="logins">
          <h4>Or</h4>
        </div>
        <div class="logins">
          <button type="submit" class="subs">Create a New Account</button>
        </div>
        <div class="logins">
          <h4>Or</h4>
        </div>
        <div class="logins">
          <button type="submit" class="subss"><i class="fa-brands fa-google"></i>         Login with Google</button>
        </div>
        
      </div>
      
    </div>
  </div>
    
  </header>

<div id="hide">
  
  <div class="menus">
    <div class="into"><a href="" class="into-btn" id="into-button"> <i class="fa-sharp fa-solid fa-xmark"></i></a></div>
    <div class="mini">
      <h2>MENU</h2>
      <div class="max">
        <ul>
          <li><a href=""><i class="fa-solid fa-user"></i>  ACCOUNT</a></li>
          <li><a href=""><i class="fa-solid fa-ticket"></i> BOOKINGS</a></li>
          <li><a href=""><i class="fa-solid fa-cart-shopping"></i> ORDERS</a></li>
          <li><a href=""> <i class="fa-solid fa-headset"></i>   HELP & SUPPORT </a></li>
        </ul>
      </div>
    </div>
  
  </div>
</div>
<div class="place" id="location">
  <div class="places">
    <div class="int">
      <a href="" class="into-btn" id="into-button"> <i class="fa-sharp fa-solid fa-xmark"></i></a>
      <h1 class="placer">SELECT YOUR LOCATION </h1></div>
    <div class="placess">
      <div class="place1">
        <a href="/"><img src="{%static 'images/place/chennai.jpg' %}" alt=""></a>
        <a href="/">CHENNAI</a>
      </div>
      <div class="place1">
        <a href="/madurai"><img src="{%static 'images/place/madurai.jpg' %}" alt=""></a>
        <a href="/madurai">MADURAI</a>
      </div>
      <div class="place1">
        <a href="/kanyakumari"><img src="{%static 'images/place/kanyakumari.png' %}" alt=""></a>
        <a href="/kanyakumari">KANYA KUMARI</a>
      </div>
      <div class="place1">
        <a href="/thanjavur"><img src="{%static 'images/place/tan.jpg' %}" alt=""></a>
        <a href="/thanjavur">THANJAVUR</a>
      </div>
      <div class="place1">
        <a href="/coimbatore"><img src="{%static 'images/place/coimbatore.jpg' %}" alt=""></a>
        <a href="/coimbatore">COIMBATORE</a>
      </div>
      <div class="place1">
        <a href="/tirichy"><img src="{%static 'images/place/trichy.jpg' %}" alt=""></a>
        <a href="/tirichy">TIRICHY</a>
      </div>
    </div>
  </div>
</div>
<div class="net">
    <div class="nets">
        <img src="{%static 'images/sports/soccer.jpg' %}" alt="">
    </div>
    <div class="netss">
        <h2>SOCCER </h2>
        <h3><i class="fa-solid fa-bookmark"></i> Sports</h3>
        <h3><i class="fa-solid fa-calendar-days"></i> October 28 | 7 PM</h3>
        <h3><i class="fa-solid fa-location-dot"></i> Bigil Stadium,Salem</h3>
        <div class="netsss">
            <h3><i class="fa-solid fa-wallet"></i> ₹9500 Per Team</h3>
            <a href=""><button >PARTICIPATE NOW</button></a>
        </div>
    </div>
    <div class="storys">
        <h2>About</h2>
        <p>There’s just something about the best soccer tournaments that bring out some of the most passionate fans anywhere. The atmosphere is always incredible, the soccer is top notch, and the host cities are fascinating to explore. If you love soccer, here are the 12 best soccer tournaments you’ll want to experience in your lifetime</p>
    </div>
</div>
{% include 'inc/footer2.html' %}
<script src="{% static 'js/main.js' %}"></script>
  

</body>
</html>