<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGBI |  home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{%static 'images/Tamil/logo.png' %}">
</head>

   
<body>
  {% include 'inc/trichyheader.html' %}
<div class="main">
  <div class="container1">
    <div class="row1">
      <h1 class="movies">STREAMING</h1>
    </div>
    <div class="contents1">
      {%  for stream1 in stream1 %}
    <div class="content1">
      <a href=""><img src="{{stream1.image.url}}" alt=""></a>
      <a href="">{{stream1.stream_name}}</a> 
    </div>
      {% endfor  %}
    
   </div>
   <div class="container1">
    <div class="contents1">
      {%  for stream2 in stream2 %}
    <div class="content1">
      <a href=""><img src="{{stream2.image.url}}" alt=""></a>
      <a href="">{{stream2.stream_name}}</a> 
    </div>
    {% endfor  %}
   </div>
   <div class="container1">
    
    <div class="contents1">
      {%  for stream3 in stream3 %}
    <div class="content1">
      <a href=""><img src="{{stream3.image.url}}" alt=""></a>
      <a href="">{{stream3.stream_name}}</a> 
    </div>
    {% endfor  %}
   </div>
   <div class="container1">
    
    <div class="contents1">
      {%  for stream4 in stream4 %}
    <div class="content1">
      <a href=""><img src="{{stream4.image.url}}" alt=""></a>
      <a href="">{{stream4.stream_name}}</a> 
    </div>
    {% endfor  %}
      
   </div>
  </div>
</div>
{% include 'inc/footer.html' %}
<script src="{% static 'js/main.js' %}"></script>
  

</body>
</html>