<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGBI |  home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="{%static 'images/Tamil/logo.png' %}">
</head>

   

<div class="booking">
    <div class="book">
        <h1>AGS Cinemas- T.Nagar</h1>
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="bookies">
        <div class="bookie">
            <p>You have selected <span id="gound">0</span> seats for prize ₹ <span id="dotal" > 0 </span></p>
            <select id="select">
                <option value="200">Gold Tier-₹ 200</option>
                <option value="500">Diamond Tier-₹ 500</option>
                <option value="300">Platinum Tier-₹ 300</option>
            </select>
            
        </div>
        <div class="seat">
            <div class="display"> 
                SCREEN
            </div>
                
                <div class="rob">
                    <div class="se" >A</div>
                    <div class="seat1">1</div>
                    <div class="seat1">2</div>
                    <div class="seat1">3</div>
                    <div class="seat1">4</div>
                    <div class="seat1">5</div>
                    <div class="seat1">6</div>
                    <div class="seat1">7</div>
                    <div class="seat1">8</div>
                    <div class="seat1 occ">9</div>
                    <div class="seat1">10</div>
                    <div class="seat1">11</div>
                    <div class="seat1">12</div>
                    <div class="seat1">13</div>
                    <div class="seat1">14</div>
                    <div class="seat1">15</div>
                </div>
                <div class="rob">
                    <div class="se">B</div>
                    <div class="seat1">1</div>
                    <div class="seat1 occ">2</div>
                    <div class="seat1">3</div>
                    <div class="seat1">4</div>
                
                    <div class="seat1">5</div>
                    <div class="seat1">6</div>
                    <div class="seat1">7</div>
                    <div class="seat1">8</div>
                    <div class="seat1">9</div>
                    <div class="seat1">10</div>
                    <div class="seat1">11</div>
               
                    <div class="seat1">12</div>
                    <div class="seat1">13</div>
                    <div class="seat1">14</div>
                    <div class="seat1">15</div>
                </div>
                <div class="rob">
                    <div class="se">C</div>
                    <div class="seat1">1</div>
                    <div class="seat1">2</div>
                    <div class="seat1">3</div>
                    <div class="seat1">4</div>
                
                    <div class="seat1">5</div>
                    <div class="seat1 occ">6</div>
                    <div class="seat1">7</div>
                    <div class="seat1">8</div>
                    <div class="seat1">9</div>
                    <div class="seat1">10</div>
                    <div class="seat1">11</div>
               
                    <div class="seat1">12</div>
                    <div class="seat1">13</div>
                    <div class="seat1">14</div>
                    <div class="seat1">15</div>
                </div>
                <div class="rob">
                    <div class="se">D</div>
                    <div class="seat1 occ">1</div>
                    <div class="seat1">2</div>
                    <div class="seat1">3</div>
                    <div class="seat1">4</div>
                
                    <div class="seat1">5</div>
                    <div class="seat1">6</div>
                    <div class="seat1">7</div>
                    <div class="seat1">8</div>
                    <div class="seat1">9</div>
                    <div class="seat1">10</div>
                    <div class="seat1">11</div>
               
                    <div class="seat1">12</div>
                    <div class="seat1">13</div>
                    <div class="seat1">14</div>
                    <div class="seat1">15</div>
                </div>
                <div class="rob">
                    <div class="se">E</div>
                    <div class="seat1">1</div>
                    <div class="seat1">2</div>
                    <div class="seat1">3</div>
                    <div class="seat1">4</div>
                
                    <div class="seat1">5</div>
                    <div class="seat1">6</div>
                    <div class="seat1">7</div>
                    <div class="seat1 occ">8</div>
                    <div class="seat1">9</div>
                    <div class="seat1">10</div>
                    <div class="seat1">11</div>
               
                    <div class="seat1">12</div>
                    <div class="seat1">13</div>
                    <div class="seat1 occ">14</div>
                    <div class="seat1">15</div>
                </div>
                <div class="rob">
                    <div class="se">F</div>
                    <div class="seat1">1</div>
                    <div class="seat1 occ">2</div>
                    <div class="seat1">3</div>
                    <div class="seat1">4</div>
                
                    <div class="seat1">5</div>
                    <div class="seat1">6</div>
                    <div class="seat1">7</div>
                    <div class="seat1">8</div>
                    <div class="seat1">9</div>
                    <div class="seat1">10</div>
                    <div class="seat1">11</div>
               
                    <div class="seat1">12</div>
                    <div class="seat1 occ">13</div>
                    <div class="seat1">14</div>
                    <div class="seat1">15</div>
                </div>
        </div>
        <div class="info">
            <div class="info1"></div>
            <p>N/A</p>
            <div class="info2"></div>
            <p>Occupied</p>
            <div class="info3"></div>
            <p>Selected</p>
        </div>
    </div>

    
</div>
{% include 'inc/footer2.html' %}


<script src="{% static 'js/side.js' %}"></script>


</body>
</html>